<div class="container">
  <div class="section1">
    <h1>Add your pet for rental</h1>
    <%= simple_form_for @pet do |f| %>
  <%= f.input :name %>
  <%= f.input :species %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
  </div>
</div>
