<div class="pet-show-container">
  <div class=pet-image>

  </div>

  <div class="pet-details">
    <br>
    <h1>See details for "<strong><%= @pet.name %></strong>"</h1>
    <p><strong>Species: </strong> <%= @pet.species %></p>
    <p><strong>Description: </strong><%= @pet.description %></p>
    <p class="pricetag"><strong>Price:</strong> <%= @pet.price %>€ / day</p>
    <p><%= mail_to @pet.user.email do %>
    <strong>Contact owner!</strong>
    <% end %>
  </div>
