<div class="banner">
  <h1>PetsBnB <strong> - it's easy!</strong></h1>
  <%= link_to "Rent a pet friend!", pets_path, class: "btn btn-info btn-lg" %>
</div>
<div class="container">
  <div class="section1">
    <br>
    <h1>Feeling lonely? Looking for a friend?</h1>
    <p>Love animals? Don't like to commit for too long? Simply rent a friend while renting a pet - with PetsBnB it's easy!</p><br>
    <div class="index-card">
      <%= link_to pets_path(:query => "Cat") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1579199931550-7496521679ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1153&q=80)">
        <h1>Cats</h1>
      </div>
      <% end %>

      <%= link_to pets_path(:query => "Dog") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1585664811087-47f65abbad64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2775&q=80)">
    <h1>Dogs</h1>
      </div>
      <% end %>

      <%= link_to pets_path(:query => "Bird") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1589216785379-3543833a4961?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=802&q=80)">
      <h1>Birds</h1>
      </div>
      <% end %>

      <%= link_to pets_path(:query => "Hamster") do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1615862408562-d447f3952da8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80)">
      <h1>Hamsters</h1>
      </div>
      <% end %>
  </div>
</div>
<br>
<div class="section2">
    <h2>How does it work?</h2>
    <p>Simply browse through the available pets and pick your future pet friend. Upon confirmation by the pet owner, meet your new pet friend, ready for you to be friended. And whenever you like, simply return your new friend.</p>
  </div>

  <br>
   <div class="section4">
    <h2>What are you waiting for?</h2>
    <p>Your new friend is waiting for you! Get your shot of instant friendship! Register right now!</p>
  </div>
  <br>
  <div class="cta">
    <%= link_to "See all pets", pets_path, class: "btn btn-info btn-lg" %>
    <%= link_to "Get your pet listed!", new_pet_path, class: "btn btn-info btn-lg" %>
  </div>
</div>

</div>
